
.aside-contents {
  display: none;
}

.mobile-chapters {
  margin: 1rem;
}

summary > h3 {
  display: inline;
  cursor: pointer;
  font-size: 1.4rem;
}

.prev-next {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.prev-next > * {
  padding: 2rem;
}

.prev, .next {
  display: flex;
  border: solid 3px var(--accent-dim);
  margin: 0;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.prev {
  border-radius: 16px 0 0 16px;
}

.next {
  border-radius: 0 16px 16px 0;
}

.chevron {
  height: 3rem;
  color: var(--accent-dim);
}

.prev:hover, .next:hover  {
  background-color: var(--accent-dim);
  color: var(--primary-bold);
}


@media (min-width: 85ch) {
  .book-page {
    display:grid;
    grid-template-columns: max(34ch) auto;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    justify-content: center;
  }
  .mobile-chapters {
    display: none;
  }
  .aside-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .aside-wrapper {
    background-color: var(--s-alpha-100);
    padding: 0.5rem;
    border-radius: 16px;
  }
}
